{% extends 'jobipy/layout.html' %}
{% load static %}

{% block title %}Jobs | JobiPY{% endblock %}

{% block styles %}
    <link href="{% static 'jobipy/css/jobs.css' %}" rel="stylesheet"> 
{% endblock %}

{% block script %}
    <script src="{% static 'jobipy/scripts/jobs.js' %}"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div id="content">
    <div id="search-div">
        <div id="search-inputs">
            <input id="search-job" type="text" placeholder="Search for jobs">
            <input id="search-city" type="text" placeholder="City, State">
        </div>
        <div id="search-button-div">
            <button id="search-button">Search for jobs</button>
        </div>
    </div>
    <div id="job-div">
        <div id="job-list-div"></div>
        <div id="job-desc-div">
            <div id='desc-title' style="font-size: 3em; font-weight: bold; text-align: center; margin-top: 5em;"></div>
        </div>
    </div>
</div>
<div id="loading-div" style="display: none;">
    <div class="spinner" id="loading-div"></div>
</div>

{% endblock %}