{% extends 'jobipy/layout.html' %}
{% load static %}

{% block styles %}
 <link rel="stylesheet" href="{% static '/jobipy/css/profile.css' %}">
{% endblock %}

{% block script %}
 <script src="{% static 'jobipy/scripts/profile.js' %}"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div id="content">
    <div id="info-div">
        <div id="personal-div">
            <p id="name-p">Name</p>
            <p id="city-p">City</p>
            <div id="contacts-div">
                <p id="contacts-p">Contacts:</p>
                <p id="email-p">Email</p>
                <p id="contact-no-p">Contact Number</p>
            </div>
        </div>
        <button class="btn btn-primary" id="edit-button">Edit</button>
        Replace your resume here:
        <input type="file" id="myFileInput" accept='application/pdf' style="display: none;">
        <label for="myFileInput" class="custom-file-button">Choose File</label>
        <button class="btn btn-success" style="display: none;" id="save-button">Save</button>
    </div>
    <img id="resume-embed" src='{{ image_path }}' type="application/pdf"/>
</div>
<div id="loading-div" style="display: none;">
    <div class="spinner" id="loading-div"></div>
</div>

{% endblock %}