#sign-in-div {
  margin-left: auto;
  text-decoration: none;
  color: black;
}
#sign-in-div #sign-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
  height: 40px;
  width: 100px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-right: 1em;
  box-shadow: 0 10px 12px 1px rgba(0, 0, 0, 0.3);
}
#sign-in-div #sign-in img {
  height: 30px;
  width: 30px;
}
#sign-in-div #sign-in div {
  font-family: "Varela Round", sans-serif;
}
#sign-in-div #sign-in:hover {
  height: 43px;
  width: 103px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#content {
  width: 100vw;
  height: 20em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content #search {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
#content #search #search-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
#content #search #search-inputs #search-job,
#content #search #search-inputs #search-city {
  font-family: "Varela Round", sans-serif;
  width: 22em;
  height: 0.5em;
  padding: 1em;
  border: 1px solid #757575;
  border-radius: 10px;
}
#content #search #filters-div {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Varela Round", sans-serif;
  margin-top: 0.5em;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}
#content #search #filters-div #industry-div {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  column-gap: 1em;
}
#content #search #filters-div #industry-div label {
  font-weight: bold;
  font-size: 1.2em;
}
#content #search #filters-div #industry-div select {
  width: fit-content;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #757575;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #343a40;
}
#content #search #filters-div #industry-div select option {
  padding: 10px;
}
#content #search #filters-div #industry-div select:hover {
  cursor: pointer;
}
#content #search #filters-div #search-button {
  display: flex;
  justify-content: center;
  height: fit-content;
}
#content #search #filters-div #search-button button {
  font-family: "Varela Round", sans-serif;
  width: fit-content;
  height: 3em;
  border-radius: 10px;
  background-color: #0092E3;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #0092E3;
}
#content #search #filters-div #search-button button:hover {
  background-color: #007ACC;
  transition: all 0.3s ease-in-out;
}
#content #headliner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content #headliner div {
  font-family: "Timmana", sans-serif;
  color: #0CB83C;
  font-size: 32px;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  width: clamp(10em, 50vw, 20em);
}
#content #headliner button {
  font-family: "Varela Round", sans-serif;
  width: fit-content;
  height: 3em;
  border-radius: 10px;
  background-color: #004D40;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}
#content #headliner button:hover {
  background-color: #0CB83C;
  transition: all 0.3s ease-in-out;
}
#content #job-div {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 2em;
}
#content #job-div #job-list-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 3em;
}
#content #job-div #job-list-div .job-post-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(25em, 50vw, 30em);
  height: fit-content;
  border: 1px solid #757575;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  font-family: "Varela Round", sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  z-index: 1;
  box-shadow: 0 10px 12px 1px rgba(0, 0, 0, 0.3);
}
#content #job-div #job-list-div .job-post-div:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#content #job-div #job-desc-div {
  position: sticky;
  top: 20px;
  margin-left: auto;
  margin-right: 10vw;
  margin-top: 3em;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 30em;
  height: 35em;
  border: 1px solid #757575;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 2em;
  padding-bottom: 2em;
  z-index: 1;
  box-shadow: 0 10px 12px 1px rgba(0, 0, 0, 0.3);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(194, 194, 194) #f1f1f1;
}
#content #job-div #job-desc-div #head-div {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #757575;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 20px;
}
#content #job-div #job-desc-div #details-div {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  padding-left: 2.5em;
  margin-top: 2em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#content #job-div #job-desc-div #desc {
  width: 25em;
  height: fit-content;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media (min-width: 600px) {
  #sign-in-div {
    margin-right: 1em;
  }
}
@media (min-width: 1000px) {
  #content #search #filters-div {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #content #search #filters-div #industry-div {
    flex-direction: row;
  }
  #content #search #filters-div #search-button {
    margin-left: auto;
  }
  #content #search #search-inputs {
    flex-direction: row;
    column-gap: 0.5em;
  }
  #content #job-div #job-list-div {
    margin-left: 10vw;
  }
  #content #job-div #job-desc-div {
    display: flex;
  }
}
@media (max-width: 1260px) {
  #content #job-div #job-list-div {
    margin-left: 5em;
  }
  #content #job-div #job-desc-div {
    margin-right: 5em;
  }
}
@media (max-width: 1120px) {
  #content #job-div #job-list-div {
    margin-left: 2em;
  }
  #content #job-div #job-desc-div {
    margin-right: 2em;
  }
}

/*# sourceMappingURL=index.css.map */
