$timmana: 'Timmana', sans-serif;
$valera: 'Varela Round', sans-serif;
$green: #0CB83C;
$dark-green: #004D40;
$blue: #0092E3;
$gray: #757575;

#content {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    #preferences-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;

        #preferences-title {
            color: $green;
            font-family: $timmana;
            font-size: 3em;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            margin-top: 0.5em;
            text-align: center;
        }

        #industry-div,
        #minimum-pay-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $valera;

            >input {
                font-family: $valera;
                width: 22em;
                height: 0.5em;
                padding: 1em;
                border: 1px solid $gray;
                border-radius: 10px;
            }

            div input {
                font-family: $valera;
                width: 10em;
                height: 0.5em;
                padding: 1em;
                border: 1px solid $gray;
                border-radius: 10px;
            }

            select {
                width: fit-content;
                text-align: center;
                padding: 10px;
                font-size: 16px;
                border: 1px solid $gray;
                border-radius: 5px;
                background-color: #f8f9fa;
                color: #343a40;

                option {
                    padding: 10px;
                }
            }

            select:hover {
                cursor: pointer;
            }
        }

        #job-type-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $valera;

            >div:nth-child(2) {
                display: flex;
                flex-direction: row;
                column-gap: 2em;
                height: auto;
                width: auto;
                margin-top: .5em;
            }

            div:hover {
                cursor: pointer;

                label {
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                }

                label:hover,
                input:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #about-self-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        margin-top: 2em;

        #about-title {
            color: $green;
            font-family: $timmana;
            font-size: 3em;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            margin-top: 0.5em;
            text-align: center;
        }

        #name-div,
        #email-div,
        #contact-div,
        #city-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $valera;

            input {
                font-family: $valera;
                width: 22em;
                height: 0.5em;
                padding: 1em;
                border: 1px solid $gray;
                border-radius: 10px;
            }
        }

        #resume-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $valera;

            /* Style the custom button to trigger file selection */
            .custom-file-button {
                background-color: #0074d9;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

            /* Optional: Add hover effect */
            .custom-file-button:hover {
                background-color: #0056b3;
            }
        }
    }

    #save-button {
        font-family: $valera;
        width: fit-content;
        height: 3em;
        border-radius: 10px;
        background-color: $green;
        color: white;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #save-button:hover {
        background-color: $dark-green;
        transition: all 0.3s ease-in-out;
    }
}